

@mixin button-variant($name, $color-base: $name, $type: "") {
	--btn-bg: var(--#{$color-base});
	--btn-hover-bg: var(--#{$color-base}-dark);
	--btn-hover-border-color: var(--#{$color-base}-dark);
	--btn-active-bg: var(--#{$color-base}-dark);
	--btn-active-border-color: var(--#{$color-base}-dark);
	--btn-disabled-bg: var(--#{$color-base});
	--btn-disabled-border-color: var(--#{$color-base});
	--btn-border-color: var(--#{$color-base});

	&.btn-transparent {
		--btn-color: var(--#{$color-base});
		--btn-border-color: transparent;
		--btn-bg: transparent;
	}


	@if $type == "light" {
		--btn-color: color-mix(in srgb,var(--#{$name}-text-emphasis), var(--dark) 20%);
	}

	@if $type == "dark" {
		--btn-color: color-mix(in srgb,var(--#{$name}-bg-subtle), var(--light) 80%);
	}

	@if $name == "light" {
		--btn-color: var(--primary);
		--btn-hover-bg: var(--white);
		--btn-hover-border-color: transparent;
		--btn-hover-color: var(--primary);
	}
}

@mixin button-outline($name, $color-base: $name, $type: "") {
	--btn-color: var(--#{$color-base});
	--btn-bg: transparent;
	--btn-border-color: var(--#{$color-base});
	--btn-hover-border-color: var(--#{$color-base}-dark);

&:hover {
	--btn-bg: var(--#{$color-base});
	--btn-hover-bg: var(--#{$color-base});
	--btn-hover-border-color: var(--#{$color-base});
}

	&.btn-transparent {
		--btn-color: var(--#{$color-base});
		--btn-border-color: transparent;
		--btn-bg: transparent;
	}


	@if $type =="light" {
		--btn-color: color-mix(in srgb, var(--#{$name}-text-emphasis), var(--light) 40%);
	}

	@if $type =="dark" {
		--btn-color: color-mix(in srgb, var(--#{$name}-bg-subtle), var(--dark) 60%);
	}

	@if $name =="light" {
		--btn-color: var(--primary);
		--btn-border-color: var(--primary);
		--btn-hover-border-color: var(--primary);
		--btn-hover-color: var(--primary);
	}

}
