	.btn-close {
		--btn-close-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23000'%3e%3cpath d='M.293.293a1 1 0 0 1 1.414 0L8 6.586 14.293.293a1 1 0 1 1 1.414 1.414L9.414 8l6.293 6.293a1 1 0 0 1-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 0 1-1.414-1.414L6.586 8 .293 1.707a1 1 0 0 1 0-1.414'/%3e%3c/svg%3e");
		--btn-close-opacity: 0.5;
		--btn-close-hover-opacity: 0.75;
		--btn-close-focus-shadow: 0 0 0 0.1rem var(--primary);
		--btn-close-focus-opacity: 1;
		--btn-close-disabled-opacity: 0.25;

		mask-image: var(--btn-close-bg);
		mask-size: contain;
		mask-repeat: no-repeat;
		mask-position: center;
	}


