@use "sass:math";
@use "sass:map";
@use "@core/tokens.scss" as *;

	$scales: (
		"none": 0,
		"xs": 3,
		"sm": 1.75,
		"md": 1,
		"lg": 0.625,
		"xl": 0.375,
		"2xl": 0.25,
		"3xl": 0.15,
		"4xl": 0.14,
		"5xl": 0.12
	);

	@each $size, $value in $spacing {
		$scale: map.get($scales, $size);
		$padding-y-ratio: math.div(1, 2);

		.btn-#{$size} {
			--btn-font-size: calc(var(--spacing-#{$size}) * #{$scale});
			--btn-padding-y: calc(var(--spacing-#{$size}) * #{$scale} * #{$padding-y-ratio});
			--btn-padding-x: calc(var(--spacing-#{$size}) * #{$scale});
			--btn-border-radius: var(--border-radius);
		}
	}


