@use "sass:map";
@use "lucide-static/font/lucide.scss";
@use "@core/tokens" as *;

.icon {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	line-height: 1;

	// &__symbol {
	// 	display: inline-block;
	// 	font-style: normal;
	// 	font-variant: normal;
	// 	text-rendering: auto;
	// 	-webkit-font-smoothing: antialiased;
	// }



		$scales: (
			"xs": 3,
			"sm": 1.75,
			"md": 1,
			"lg": 0.625,
			"xl": 0.375,
			"2xl": 0.25,
			"3xl": 0.15,
			"4xl": 0.14
		);



		@each $size, $value in $scales {
			$scale: map.get($scales, $size);
			&--size-#{$size} { font-size: calc(var(--spacing-#{$size}) * #{$scale}); }
		}


}
