

.avatar {
	display: inline-flex;
	vertical-align: middle;
	user-select: none;
	position: relative;

	&__content {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		overflow: hidden;
		background-color: var(--gray-200, #e9ecef);
		color: var(--gray-700, #495057);
		font-weight: 600;
	}

	&__image {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}

	&__initials {
		font-size: 1em;
		line-height: 1;
		text-transform: uppercase;
	}

	&__icon {
		width: 60%;
		height: 60%;
		color: var(--gray-500);
	}

	// Shapes
	&--round {
		.avatar__content {
			border-radius: 50%;
		}
	}

	&--square {
		.avatar__content {
			border-radius: var(--border-radius-lg, 0.5rem);
		}
	}

	@each $size, $value, $font-size in (
		sm: var(--size-8, 1rem),
		md: var(--size-12, 3rem),
		lg: var(--size-16, 4rem)
	) {
		&--#{$size} {
			width: $value;
			height: $value;
			font-size: $font-size;
		}
	}


	&__status {
		position: absolute;
		bottom: 0;
		right: 0;
		width: 30%;
		height: 30%;
		border-radius: 50%;
		border: 2px solid var(--white, #fff);
		background-color: var(--gray-400);
		z-index: 1; // Un petit z-index pour être sûr d'être au dessus

		&--online { background-color: var(--success, #73D3B6); }
		&--offline { background-color: var(--gray-500, #adb5bd); }
		&--away { background-color: var(--warning, #F5D762); }
		&--busy { background-color: var(--danger, #EA5F5F); }
	}
}
